@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <br /><br />

    <div style="text-align:center">

        <h1><b>List of Booked Users</b></h1><br/><br/>

        <table border="1" cellpadding="2" align="center">
            <tr>
                <td align="center"><h3><b>City</b></h3></td>
                <td align="center"><h3><b>Hotel</b></h3></td>
                <td align="center"><h3><b>Booking Date</b></h3></td>
                <td align="center"><h3><b>Arrival Date</b></h3></td>
                <td align="center"><h3><b>Departure Date</b></h3></td>
                <td align="center"><h3><b>Members</b></h3></td>
                <td align="center"><h3><b>Booking Type</b></h3></td>
                <td align="center"><h3><b>Name</b></h3></td>
                <td align="center"><h3><b>Email</b></h3></td>
                <td align="center"><h3><b>Contact</b></h3></td>
                <td align="center"><h3><b>Cancel</b></h3></td>

           

            @for (int i = 0; i < ViewBag.Contact.Count; i++)
            {
                for (int j = 0; j < ViewBag.Hotel.Count; j++)
                {
                    if (ViewBag.Booking[i].H_Id == ViewBag.Hotel[j].Id)
                    { 
                        for (int k = 0; k < ViewBag.City.Count; k++)
                        {
                            if (ViewBag.Booking[i].C_Id == ViewBag.City[k].Id)
                            {
                                <tr>
                                    <td align="center">@ViewBag.City[k].Name</td>
                                    <td align="center">@ViewBag.Hotel[j].Name</td>
                                    <td align="center">@ViewBag.Booking[i].Booking_Date</td>
                                    <td align="center">@ViewBag.Booking[i].CheckIn_Date</td>
                                    <td align="center">@ViewBag.Booking[i].CheckOut_Date</td>
                                    <td align="center">@ViewBag.Booking[i].Member_Capacity</td>
                                    <td align="center">@ViewBag.Booking[i].Booking_Type</td>
                                    <td align="center">@ViewBag.Contact[i].Name</td>
                                    <td align="center">@ViewBag.Contact[i].Email</td>
                                    <td align="center">@ViewBag.Contact[i].Telephone</td>
                                    <td align="center"><a href="/Home/Delete2/@ViewBag.Booking[i].Id">Delete</a></td>
                                </tr>
                            }
                        }
                    }
                }
            }           
                   
         

        </table>
        <br /><br />

        <form action="/Home/admin">
            <input type="submit" value="Go Back" />
        </form>

    </div><br /><br />

    